# Core
pandas
numpy
scikit-learn
scipy

# Deep Learning
torch
torchvision

# Finance Data
yfinance

# Visualization
matplotlib
seaborn
plotly

# Technical Indicators
ta

# App
streamlit

# Utilities
joblib
tqdm
pyyaml

# Testing
pytest

# Model Metrics
statsmodels
